<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trigger">

    <!-- For Import/Export -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppCompatTheme" >
        <activity
            android:name="com.example.trigger.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.trigger.SetupActivity"
            android:label="@string/action_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.trigger.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.trigger.preferences.SomeActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ssh.KeyPairActivity"
            android:label="Manage SSH Key Pairs"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".ssh.KeyPairActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".https.CertificateActivity"
            android:label="Manage HTTPS Certificates"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".https.CertificateActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
