<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.trigger">

    <!-- For WiFi access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Read WiFi SSID (ACCESS_COARSE_LOCATION was sufficient before Android 10) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For Bluetooth access -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- For Bluetooth Low Energy (BLE) access -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <!-- Check if communication is possible -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Scan Qr-Code -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- For MQTT -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupActivity"
            android:label="@string/action_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QRShowActivity"
            android:exported="true"
            android:label="@string/action_export"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScanActivity"
            android:label="@string/action_import"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackupActivity"
            android:label="@string/action_backup"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ssh.KeyPairActivity"
            android:label="@string/manage_ssh_key_pair"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".ssh.KeyPairActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mqtt.MqttClientKeyPairActivity"
            android:label="Manage Client Private Key"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".mqtt.MqttPrivateClientKeyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".https.CertificateActivity"
            android:label="@string/manage_tls_certificate"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".https.CertificateActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="Select Image"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".ImageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
